<!DOCTYPE html>
<html lang="en">
  
{% include "./components/head.html" %}

<body>
  {% include "./components/nav.html" %}

  <div class="container container-padding-top-bottom">
    <img class="banner" src="/assets/images/banner.jpg" alt="banner">
    <p>
      Chúng tôi là đơn vị vận chuyển đồng hành cùng các nhãn hàng trong chiến lược mở rộng kênh bán hàng và tăng hiệu quả
      tiếp thị thương hiệu: giao hàng thu tiền, giao sản phẩm thử, giao quà tặng, trao thưởng, giaohangnhanh.vn cung cấp dịch
      vụ trọn gói bao gồm: giao hàng, kho bãi, đóng gói, tổng đài, dịch vụ khách hàng,…
    </p>
    <p>
      Chúng tôi cung cấp dịch vụ cho nhiều nhãn hàng lớn như: Unilever, Nestle, Kimberly-Clark, FrieslandCampina, Vinamilk,
      Rohto, Abbott, Vinasoy, HTC,…
    </p>

    <p>
      Điểm khác biệt của chúng tôi: Đơn vị duy nhất trên thị trường cung cấp giải pháp cho các chương trình sản phẩm thử.
      Kinh nghiệm triển khai các chương trình sản phẩm thử với quy mô lớn lên tới 100,000 người nhận hàng. Có chuyên viên hỗ
      trợ khách hàng, hỗ trợ triển khai xuyên suốt từ đầu đến khi chương trình hoàn tất. Thông tin chi tiết về đơn hàng được
      cập nhật nhanh chóng và chính xác trên hệ thống của chúng tôi.
    </p>
  </div>

  {% include "./components/footer.html" %}
</body>

</html>