<!DOCTYPE html>
<html lang="en">

{% include "./components/head.html" %}

<body>
  {% include "./components/nav.html" %}

  <div class="container container-padding-top-bottom">
    {% include "./components/error.html" %}

    <div class="row justify-content-center align-items-center">
      <div class="col">
        <div class="accordion" id="accordionExample">
          <form id="createOrderForm" action="/api/order" method="POST" enctype="application/json">
            <input type="hidden" name="userId" value="{{ user._id }}">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Bước 1
                  </button>
                </h5>
              </div>
            
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="form-group">
                    <h4>Người gửi</h4>

                    <div class="form-container">
                      <label for="ipSenderPhone">Số điện thoại người gửi</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-phone fliped"></i>
                          </div>
                        </div>
                        <input type="tel" class="form-control" name="sPhone" id="ipSenderPhone" placeholder="Số điện thoại người gửi" value="{{ user.phone }}" required>
                      </div>
                    </div>

                    <div class="form-container">
                      <label for="ipSenderName">Họ tên người gửi</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-user"></i>
                          </div>
                        </div>
                        <input type="text" class="form-control" name="sName" id="ipSenderName" placeholder="Họ tên người gửi" value="{{ user.name }}" required>
                      </div>
                    </div>

                    <div class="form-container">
                      <label for="ipSenderAddress">Địa chỉ người gửi</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                          </div>
                        </div>

                        <input type="text" class="form-control" name="sAddress" id="ipSenderAddress" placeholder="Địa chỉ người gửi" value="{{ user.address }}" required>

                        <!-- <div class="input-group-append">
                          <select class="custom-select">
                            <option selected>Quận</option>
                            {% for district in urban  %}
                            <option value="{{ district.code }}">{{ district.name }}</option>
                            {% endfor %}
                            {% for district in subUrban %}
                            <option value="{{ district.code }}">{{ district.name }}</option>
                            {% endfor %}
                          </select>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <h4>Người nhận</h4>

                    <div class="form-container">
                      <label for="ipReceieverPhone">Số điện thoại người nhận</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-phone fliped"></i>
                          </div>
                        </div>
                        <input type="tel" class="form-control" name="rPhone" id="ipReceieverPhone" placeholder="Số điện thoại người nhận" required>
                      </div>
                    </div>

                    <div class="form-container">
                      <label for="ipReceieverName">Họ tên người nhận</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-user"></i>
                          </div>
                        </div>
                        <input type="text" class="form-control" name="rName" id="ipReceieverName" placeholder="Họ tên người nhận" required>
                      </div>
                    </div>

                    <div class="form-container">
                      <label for="ipReceieverAddress">Địa chỉ người nhận</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                          </div>
                        </div>

                        <input type="text" class="form-control" name="rAddress" id="ipReceieverAddress" placeholder="Địa chỉ người nhận" required>

                        <!-- <div class="input-group-append">
                          <select class="custom-select">
                            <option selected>Quận</option>
                            {% for district in urban %}
                            <option value="{{ district.code }}">{{ district.name }}</option>
                            {% endfor %}
                            {% for district in subUrban %}
                            <option value="{{ district.code }}">{{ district.name }}</option>
                            {% endfor %}
                          </select>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  
                  <button id="btnNextToStep2" type="button" class="btn btn-primary">
                    Tiếp tục <i class="fas fa-chevron-circle-right"></i>
                  </button>
                </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Bước 2
                  </button>
                </h5>
              </div>
            
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="form-group">
                    <h4>Chọn khối lượng</h4>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="weight" id="weight1" value="1" checked>
                      <label class="form-check-label" for="weight1">
                        Rất nhỏ <span class="weight-info">(Khối lượng dưới 0.5kg)</span>
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="weight" id="weight2" value="2">
                      <label class="form-check-label" for="weight2">
                        Nhỏ <span class="weight-info">(Khối lượng từ 0.51 -> 1kg)</span>
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="weight" id="weight3" value="3">
                      <label class="form-check-label" for="weight3">
                        Trung bình <span class="weight-info">(Khối lượng từ 1.01 -> 2kg)</span>
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="weight" id="weight4" value="4">
                      <label class="form-check-label" for="weight4">
                        Lớn <span class="weight-info">(Khối lượng từ 2.01 -> 4kg)</span>
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="weight" id="weight5" value="5">
                      <label class="form-check-label" for="weight5">
                        Rất lớn <span class="weight-info">(Khối lượng trên 4kg)</span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <h4>Danh sách sản phẩm</h4>

                    <div id="product-list">
                      <div class="form-row product-detail">
                        <div class="col-5">
                          <input class="form-control" type="text" name="productNames" placeholder="Tên món hàng" required>
                        </div>
                        <div class="col-5">
                          <input class="form-control" type="text" name="productDescriptions" placeholder="Mô tả">
                        </div>
                        <div class="col-2">
                          <input class="form-control" type="number" min="1" name="productQuantities" placeholder="Số lượng" value="1">
                        </div>
                      </div>
                    </div>
                    
                    <button id="btnAddProduct" class="btn btn-primary" type="button">
                      Thêm sản phẩm <i class="fas fa-plus-circle"></i>
                    </button>
                  </div>
                  
                  <div class="form-group">
                    <h4>Lưu ý khi giao hàng</h4>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="note" id="note1" value="1" checked>
                      <label class="form-check-label" for="note1">
                        Cho xem hàng, không cho thử
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="note" id="note2" value="2">
                      <label class="form-check-label" for="note2">
                        Cho thử hàng
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="note" id="note2" value="2">
                      <label class="form-check-label" for="note2">
                        Không cho xem hàng
                      </label>
                    </div>
                  </div>
                  
                  <button id="btnNextToStep3" type="button" class="btn btn-primary">
                    Tiếp tục <i class="fas fa-chevron-circle-right"></i>
                  </button>
                </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Bước 3
                  </button>
                </h5>
              </div>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="form-group">
                    <h4>Chọn người thanh toán</h4>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="charge" id="charge1" value="1" checked>
                      <label class="form-check-label" for="charge1">
                        Người nhận trả phí
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="charge" id="charge2" value="2">
                      <label class="form-check-label" for="charge2">
                        Người gửi trả phí
                      </label>
                    </div>
                  </div>

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModel">
                    Tạo đơn hàng <i class="fas fa-cart-plus"></i>
                  </button>

                  {% include "./components/modal.html" %}
                  {{ modal(
                    "Xác nhận", 
                    "Bạn có chắc chắn muốn tạo đơn hàng?", 
                    "Hủy", 
                    "Tạo đơn hàng <i class='fas fa-cart-plus'></i>") 
                  }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "./components/footer.html" %}
</body>

</html>